---
import Header from "@components/Header.astro";
import { Font } from "astro:assets";
import "../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <!-- Fonts -->
    <Font cssVariable="--font-inter" />
    <Font cssVariable="--font-crimson" />
    <!-- Metadata -->
    <title>GOALS</title>
  </head>
  <body
    class="bg-neutral-50 text-neutral-700 dark:bg-neutral-950 dark:text-neutral-300"
  >
    <Header />
    <slot />
  </body>
</html>
